body {
    margin: 0px;
    padding: 0px;
}
.wrapper {
    width: 1171px;
    margin: 0 auto;
}
nav {
    height: 68px;
    background-color: #1b2126;
    font-family: 'Nunito sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    width: 100%;
}
li a {

    text-decoration: none;
    color: #b1b5b8;
}
li a:hover {
    background-color: #b1b5b8;
    color: #1b2126;
}
.container {
    display: flex;
}

.formatolista {
    padding-top: 7px;
    padding-left: 60px;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    width: 505px;
}

.lupa {
    width: 370px;
    height: 38px;
    background-color: #5c6269;
    padding-left: 0px;
    margin-top: 15px;
}
.logo {
    margin-top: 19px;
}

sidebar {
    width: 23.14%;
}

section {
    width: 76.86%;
}
.barraimg {
    height: 52px;
    font-family: 'Nunito sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #b1b5b8;
}
.caratulas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 31px;
    font-family: 'Nunito sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #b1b5b8;
    margin:0;
}
.caratulas img {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.caratulas img:hover {
    -webkit-filter: brightness(40%);
    filter: brightness(40%);
    
}
.main-div-img:hover > .valoraciones {
    z-index: 5;
}

.main-div-img {
    position: relative;
    margin-bottom: 27px;
}

.valoraciones {
    background-color: black;
    position:absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    height: 42px;
    z-index: -1;
    color: white;
    display: flex;
}
.valoraciones img {
    padding-top: 13px;
    padding-left: 40px;
    margin: 0;
}

.btn {
    display: flex;
    flex-wrap: wrap;
}
.btn a {
    border: 2px solid #e9ecee;
    color: #8e9297;
    text-align: center;
    text-decoration: none;
    width: 115px;
    height: 33px;
    margin: 9px 8px;
    border-radius: 5px;
    padding-top: 5px;
    box-sizing: border-box;
}
.btn a:hover {
    color: #2883d8; 
    border-color: #2883d8;
}