<!DOCTYPE html>
<html lang="es" ng-app="peliculaseoi">
<head>
   <title>Pelis EOI</title>
   <link rel="stylesheet" href="libs/angular-csp.css">
   <link rel="shortcut icon" type="image/png" href="img/film.png">
   <link rel="stylesheet" href="libs/bootstrap.min.css">
   <link rel="stylesheet" type="text/css" href="css/styles.css">
   <link rel="stylesheet" href="fontawesome/css/font-awesome.min.css">
   <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
   <meta charset="UTF-8">
</head>
<body ng-controller="PeliculasController">

<nav>  
       <div class="wrapper containere">
         <div class="logo">
            <img src="img/logopelis.png" width="142px" height="31px"alt="logo">
         </div>
            <ul class="formatolista"> 
               <li >Categorías</li>
               <li ng-click="topRatedd()">Mejor Valoradas</li>
               <li >Populares ahora</li>
               <li >Próximamente</li>
            </ul>
            <div class="wrapper lupa">
                <img src="img/iconobusqueda.png" width="19px" height="19px" alt="lupa">
                <input type="text" placeholder="Buscar...">
            </div>
       </div>
   </nav>
   <div class="containere wrapper">
       <sidebar> 
          <div>
          </div>
          <div>
              <p>-----O-----O-----</p>
          </div>
          <div class="botn">
              <button ng-click="filterbyGenres(genero.id)" ng-repeat="genero in generos track by $index">{{genero.name}}</button>
          </div>
       </sidebar>
       <section>
          <div class="seccionimg" >
          <div class="barraimg">107,875 peliculas encontradas</div>
          <div class="caratulas">
              <div class="main-div-img" ng-repeat="movie in movies track by $index">
                  <img ng-click="detailView(movie)" data-toggle="modal" data-target="#themodal" ng-src="{{img + movie.poster_path}}" width="269px" height="403px" alt="pelicula">
                    <div class="valoraciones">
                      <img src="img/star.png" alt="" width="16" height="16"><p>{{movie.vote_average}}</p>
                      <img src="img/tomato.png" alt="" width="16" height="16"><p>{{movie.vote_average}}</p>
                      <img src="img/popcorn.png" alt width="16" height="16"><p>{{movie.vote_average}}</p>
                  </div>
              </div>
          </div>
          </div>
       </section>
       <div class="modal fade" id="themodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
           <div class="modal-dialog">
               <div class="modal-content">
                   <div class="modal-header">
                       <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                       </div>
                       <div class="modal-body">
                           <div>
                               <div class="details-container">
                                   <div class="superior">
                                       <h2>{{newMovie.title}}</h2> <p>{{newMovie.release_date}}</p><p>{{newMovie.overview}}</p>
                                       <!--img src="img/close.png" width="46" height="46" alt=""-->
                                    </div>
                                       <div>
                                           <img ng-src="{{img + newMovie.poster_path}}" width="70%" alt="">
                                </div>
                        </div>
                    </div>
                           </div>
                           <div class="modal-footer">
                           </div>
                        </div>
                     </div>
                 </div>
             </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="libs/bootstrap.min.js"></script>
    <script src='libs/angular.min.js'></script>
    <script src='js/app.js'></script>
    <script src="js/factories/pelis.http.js"></script>
    <script src='js/controllers/pelis.controller.js'></script>
    <!-- factorias y luego controllers-->
</body>
</html>